/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --vivid-pink: #ff007f;
  --gray-1000: #1a1a1a;
  --gray-700: #4A5568;
  --gray-50: #f9fafb;
  --page-background: #ffffff;
  --quinary-contrast: #e0e0e0;
}